@page
@model KICKDRIVE.Pages.CRUDS.HomeModel
@{
    ViewData["Title"] = "Home";
}
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Registrar Autobus</h5>
            <p class="card-text">rEGISTRO DE AUTOBUSES</p>
        </div>
        <div class="card-footer">
            <a asp-page="/RAutobus" class="btn btn-primary">Seleccionar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">aun no se</h5>
            <p class="card-text">nose</p>
        </div>
        <div class="card-footer">
            <a asp-page="/RConductores" class="btn btn-primary">Seleccionar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">supervisor</h5>
            <p class="card-text">nose xd</p>
        </div>
        <div class="card-footer">
            <a asp-page="/RSupervisor" class="btn btn-primary">Seleccionar</a>
        </div>
    </div>
</div>
<br />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Registrar Autobus</h5>
            <p class="card-text">nose xd</p>
        </div>
        <div class="card-footer">
            <a asp-page="/RAutobus" class="btn btn-primary">Seleccionar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">aun no se</h5>
            <p class="card-text">nose</p>
        </div>
        <div class="card-footer">
            <a asp-page="/RConductores" class="btn btn-primary">Seleccionar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">no se que ponerle</h5>
            <p class="card-text">nose xd</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Seleccionar</a>
        </div>
    </div>
</div>