@page
@model KICKDRIVE.Pages.CRUDS.SupervisoresModel
@{
    ViewData["Title"] = "Supervisores";
}<div class="container">
    <h1>Kik Drive</h1>
    <h4 class="text-center">Kik Drive Mejorando el Gestionamineto</h4>
    <h5 class="text-center">Registrar Supervisores</h5>
    <div class="containerCard">
        <div class="containercd">

            <Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
                <table>
                    <tr>
                        <td>
                            ID:
                        </td>
                        <td>
                            <TextBox ID="txtName" runat="server" required="true"></TextBox>
                        </td>
                        <th>
                            <div class="form-group">
                                <input type="text" />
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Nombre:
                        </td>
                        <td>
                            <TextBox ID="txtEmail" runat="server" required="true" type="Email"></TextBox>
                        </td>
                        <th>
                            <div class="form-group">
                                <input type="text" />
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Apellido Paterno:
                        </td>
                        <td>
                            <TextBox ID="txtPassword" runat="server" required="true" type="Password"></TextBox>
                        </td>
                        <th>
                            <div class="form-group">
                                <input type="text" />
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Apellido Materno:
                        </td>
                        <td>
                            <TextBox ID="txtConfirmPassword" runat="server" required="true" type="Password"></TextBox>
                        </td>
                        <th>
                            <div class="form-group">
                                <input type="text" />
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Usuario:
                        </td>
                        <td>
                            <TextBox ID="txtAddress" runat="server" required="true" TextMode="MultiLine"></TextBox>
                        </td>
                        <th>
                            <div class="form-group">
                                <input type="text" />
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Contraseña:
                        </td>
                        <td>
                            <TextBox ID="txtAddress" runat="server" required="true" TextMode="MultiLine"></TextBox>
                        </td>
                        <th>
                            <div class="form-group">
                                <input type="text" />
                            </div>
                        </th>
                    </tr>


                </table>
            </Content>
            <div class="container">

                <a class="btn btn-primary" href="#" role="button">Agregar</a>


                <a class="btn btn-primary" href="#" role="button">Eliminar</a>


                <a class="btn btn-primary" href="#" role="button">Actualizar</a>


                <a class="btn btn-primary" href="#" role="button">Consultar</a>

            </div>
        </div>
    </div>
</div>